<launch>
    <arg name="name" default="evaluate_archive"/>
    <arg name="clouds_folder" default=""/>
    <arg name="evaluate_archive" default=""/>
    <arg name="output_file" default="classifier_reeval.yml"/>
    <rosparam ns="/eval_arch_param" subst_value="True">
        output_file: "$(arg output_file)"
        method: "composition"
    </rosparam>
    

    <node name="$(arg name)" pkg="relevance_map" type="evaluate_archive" args="$(arg clouds_folder) $(arg archive_folder)" output="screen"/>
</launch>
