<launch>
    <arg name="name" default="evaluate_archive"/>
    <arg name="clouds_folder" default=""/>
    <arg name="evaluate_archive" default=""/>
    <arg name="output_file" default="classifier_reeval.yml"/>
    <rosparam ns="/eval_arch_param" subst_value="True">
        output_file: "$(arg output_file)"
        method: "composition"
        load_comp: "/media/le_goff/Data/ros_home/cafer_db/dream_babbling/archive/aff_map_exp/push/logs/6thseries-svsize-0.5/iteration_289/gmm_archive_centralFPFHLabHist"
    </rosparam>
    

    <node name="$(arg name)" pkg="relevance_map" type="evaluate_archive" args="$(arg clouds_folder) $(arg archive_folder)" output="screen"/>
</launch>
